// mixin
@mixin baseBox($margin: 10px, $padding: 10px) {
    padding: $padding;
    margin: $margin;
}

$base: #FDBD00;
$text: #333333;
$gray: #888;

//setting
@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
* {
  font-family: 'Noto Sans Japanese', serif !important;
}
html,body {
  height: 100%;
}
body {
  background-color: #eeeeee !important;
}
body,input,textarea,table,h1,h2,h3,h4,h5,h6 {
  letter-spacing: 0.1em;
  font-size: 0.8em;
  color: #333333;
}

h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 0.9em;
}
h4,h5,h6 {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: #333333;
  &:hover {
    border-bottom: solid 2px #333333;
  }
}

ul {
  list-style: none;
}

header#header {
  background: #FDBD00;
  width: 100%;
  min-width: 1024px;
  height: 200px;
}

header p.header_phrase {
  color: #333333;
  font-size: 0.4em;
  font-weight: lighter;
  letter-spacing: 5px;
  width: 100%;
  margin-top: -10px;
  padding-top: 50px;
  padding-left: 55px;
}

header h1 {
  color: #333333;
  font-size: 72px;
  font-weight: lighter;
  letter-spacing: 25px;
  width: 100%;
  margin-top: -20px;
  padding-left: 50px;
}

ul#nav_self {
  display: block;
  float: right;
  width: 100%;
  max-width: 500px;
  position: relative;
  z-index: 10;
  margin-top: -150px;
}

ul li.each_nav {
  float: left;
  padding-right: 20px;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 25px;
  }
}

@media (max-width: 1366px) {
}